html{
    height: 100%;
    background-color: #EBF6FF;
    font-family:'Fredoka','Courier New', Courier, monospace;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*The Side Selection Screen*/
#headline,#subHeadline{
    display: flex;
    margin: auto;
}

#subHeadline2{
    color: #636363;
}

#sideSelectionScreen{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.playerOptions{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.optionContainer{
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

svg{
    overflow: visible;
}

#xOptionIcon, #oOptionIcon{
    position: relative;
    width: 80px;
    height: 80px;
}

#xIcon, #oIcon{
    position: absolute;
    bottom: 0;
    right: 0;
}

#oOptionIcon:hover #oIcon, #xOptionIcon:hover #xIcon{
    animation: vibrate 0.6s linear infinite;
    cursor: pointer;
}

#xOptionIcon:hover #redCircleForX circle {
    fill: #EF476F;
    animation: pulse 2s infinite;
}

#oOptionIcon:hover #greenCircleForO circle{
    fill: #66FF89;
    animation: pulse 2s infinite;
}

.playerName{
    display: flex;
    justify-content: center;
    color: #636363;
    text-align: center;
    cursor: pointer;
}

#firstPlayerName:hover{
    color: #EF476F;
}

#secondPlayerName:hover{
    color: #66FF89;
}

.optionContainer > h3{
    min-width: 150px;
    max-width: 150px;
    word-break:break-all;
    padding-left: 20px;
}

input{
    background-color: #EBF6FF;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

#redCircleForX, #greenCircleForO{
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: translate(-45%, -45%);
    transition: transform 0.3s ease; 
}
  
@keyframes pulse {
    0%, 100% {
        transform: scale(1); /* Normal size */
    }
    50% {
        transform: scale(1.2); /* 20% bigger */
    }
}

@keyframes vibrate {
    0% { transform: translateX(0); }
    12% { transform: translateX(-4px); }
    24% { transform: translateX(0); }
    36% { transform: translateX(4px); }
    48% { transform: translateX(0); }
    60% { transform: translateX(-4px); }
    72% { transform: translateX(0); }
    84% { transform: translateX(4px); }
    100% { transform: translateX(0); }
}

.explode {
    animation: explode 0.6s forwards;
}

@keyframes explode {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5); 
        opacity: 0.5;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

/* Board Screen*/

#boardScreen{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resetSection:hover #redCircleForReset circle {
    fill: #EF476F;
    animation: pulse 2s infinite;
}

.resetSection:hover #subHeadline2{
    color: #000;
}

.fadeOut{
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;

    }
    to {
        opacity: 0;

     
    }
}

.fadeIn{
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn{
    from {
        opacity: 0;

    }
    to {
        opacity: 1;

     
    }
}

h2{
    margin:0;
}
.playerScoreSection{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 80px;
}

.oScore,
.xScore{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

/* Board */
#boardHeading{
    margin-bottom: 10px;
}

#boardOutline{
    width: 330px;
    height: 330px;
    border: 12px solid #000;
    border-radius: 50px;
    margin-bottom: 20px;
}

#cell1{
    border-radius: 35px 0 0 0;
}

#cell3{
    border-radius: 0 35px 0 0;
}

#cell9{
    border-radius: 0 0 35px 0;  
}

#cell7{
    border-radius: 0 0 0 35px; 
}

p{
    margin-top: 0;
    color:#636363;
    width: 320px;
    text-align: justify;
    font-weight: 400;
}

.row{
    width: 330px;
    height: 110px;
    display: flex;
}

.boardCell{
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.boardCell:hover{
    background-color: #cdd2d4;
}

.resetSection{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#redCircleForReset{
    position: absolute;
    bottom: -3px;
    right: 150px;
    z-index: -1;
}

#playAgainButton{
    color: #636363;
}

#playAgainButton:hover{
    color: #000;
}

/* Partial Borders */
.partialBorderHorizontalLeftDown{
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 6px;
    border-radius: 0 0 0 6px;
    background-color: black;
}

.partialBorderHorizontalLeftUp{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 6px;
    border-radius: 6px 0 0 0;
    background-color: black;
}

.partialBorderHorizontalRightUp{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 6px;
    border-radius: 0 6px 0 0;
    background-color: black;
}

.partialBorderHorizontalRightDown{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 6px;
    border-radius: 0 0 6px 0;
    background-color: black;
}

.partialBorderVerticalTopLeft{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6px;
    height: 80%;
    border-radius: 6px 0 0 0;
    background-color: black;
}


.partialBorderVerticalTopRight{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6px;
    height: 80%;
    border-radius: 0 6px 0 0;
    background-color: black;
}

#cell5{
    border:6px solid #000;
}

.partialBorderTop{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: black;
}

.partialBorderBottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: black;
}

.partialBorderLeft{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6px;
    height: 100%;
    background-color: black;
}

.partialBorderRight{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: black;
}

.partialBorderVerticalBottomLeft{
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 80%;
    border-radius: 0 0 0 6px;
    background-color: black;
}

.partialBorderVerticalBottomRight{
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 80%;
    border-radius: 0 0 6px 0;
    background-color: black;
}

#cell5{
    border: 6px solid #000;
}

/* Background Images */
.greenDotOne {
    position: absolute;
    top: 49vh; 
    left: 6vw; 
}

.greenDotTwo{
    position: absolute;
    top: 90vh; 
    left: 2vw;
}

.greenDotThree{
    position: absolute;
    top: 35vh; 
    right: 22vw; 
}

.crossOne{
    position: absolute;
    top: 60vh; 
    left: -2vw; 
}

.crossTwo{
    position: absolute;
    top: -8vh; 
    right: 15vw; 
}

.circleOne{
    position: absolute;
    top: 80vh; 
    left: 10vw; 
}

.circleTwo{
    position: absolute;
    top: 25vh; 
    right: 4vw; 
}

.redDotOne{
    position: absolute;
    top: 70vh; 
    left: 20vw; 
}

.redDotTwo{
    position: absolute;
    top: 12vh; 
    right: 8vw; 
}

.greenDotOne:hover,
.greenDotTwo:hover,
.greenDotThree:hover,
.crossOne:hover,
.crossTwo:hover,
.circleOne:hover,
.circleTwo:hover,
.redDotOne:hover,
.redDotTwo:hover{
    animation: vibrate 0.6s linear infinite;
}

@media (max-width: 1418px) { 
    .greenDotOne,
    .greenDotTwo,
    .greenDotThree,
    .redDotOne,
    .redDotTwo,
    .circleOne,
    .circleTwo,
    .crossOne,
    .crossTwo
     {
        display: none;
    }
}